# playlist example: https://github.com/playlist-exchange/playlist-exchange/blob/main/.github/workflows/docker-image.yml

name: quick-note

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-backend:
    runs-on: ubuntu-latest
    env:
      GO_VERSION: stable
      CGO_ENABLED: 0

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Build
        run: GOOS=linux GOARCH=amd64 go build -o ./bin/home-binary *.go

      - name: List files in ./bin directory
        run: |
          ls -lhr ./bin

      - uses: actions/upload-artifact@main
        with:
          name: home-binary
          path: ./bin/home-binary

  build-and-push-image:
    runs-on: ubuntu-latest
    needs:
      - build-backend
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@main
        with:
          name: home-binary
          path: ./bin/

      - name: List files in ./bin directory
        run: |
          ls -lhrR ./bin

      - name: List files in current directory
        run: |
          pwd
          ls -lhrR .

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: rogierlommers/home:latest

  pull-and-run-latest:
    name: "Pull latest image and run"
    runs-on: ubuntu-latest
    needs: build-and-push-image

    steps:

      # More info: https://github.com/tailscale/github-action
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/ssh.key
          chmod 600 ~/.ssh/ssh.key
          cat >>~/.ssh/config <<END
          Host services
            HostName $(tailscale ip -4 services)
            User $SSH_USER
            IdentityFile ~/.ssh/ssh.key
            StrictHostKeyChecking no
            Port 22
          END
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Run docker-compose commands
        run: ssh services 'cd /srv/local && docker compose kill home && docker system prune --all --force && docker compose up home -d'

      - name: Run tailscale logout
        run: sudo tailscale logout
